http://scikit.ml/stratification.html

This is the scikit simple multilabel stratification split without CV split capability

For CV split capability split see the example in : Haider-resnet50_basic_datablocks-v36.ipynb

In [3]:
from skmultilearn.dataset import load_dataset
X,y, _, _ = load_dataset('scene', 'undivided')

scene:undivided - exists, not redownloading

In [4]:
from skmultilearn.model_selection import iterative_train_test_split

In [24]:
X_train, y_train, X_test, y_test = iterative_train_test_split(X, y, test_size = 0.2)

In [25]:
import pandas as pd
from collections import Counter

pd.DataFrame({
    'train': Counter(str(combination) for row in get_combination_wise_output_matrix(y_train.A, order=2) for combination in row),
    'test' : Counter(str(combination) for row in get_combination_wise_output_matrix(y_test.A, order=2) for combination in row)
}).T.fillna(0.0)

,"(0, 0)","(0, 3)","(0, 4)","(0, 5)","(1, 1)","(2, 2)","(2, 3)","(2, 4)","(3, 3)","(3, 4)","(3, 5)","(4, 4)","(4, 5)","(5, 5)"
train,342.0,1.0,30.0,15.0,291.0,318.0,19.0,11.0,346.0,61.0,5.0,426.0,1.0,345.0
test,85.0,0.0,8.0,4.0,73.0,79.0,5.0,3.0,87.0,15.0,1.0,107.0,0.0,86.0

In [26]:
X_train.todense(), X_train.shape

(matrix([[0.793984, 0.772096, 0.76182 , ..., 0.051125, 0.112506, 0.083924],
         [0.51213 , 0.524684, 0.52002 , ..., 0.238796, 0.16427 , 0.18429 ],
         [0.971724, 0.972822, 0.959227, ..., 0.007633, 0.02978 , 0.038599],
         ...,
         [0.952281, 0.944987, 0.905556, ..., 0.0319  , 0.017547, 0.019734],
         [0.88399 , 0.899004, 0.901019, ..., 0.256158, 0.226332, 0.22307 ],
         [0.974915, 0.866425, 0.818144, ..., 0.005131, 0.025059, 0.004033]]),
 (1925, 294))

In [17]:
y_train.todense()

matrix([[1, 0, 0, 0, 1, 0],
        [1, 0, 0, 0, 0, 1],
        [1, 0, 0, 0, 0, 0],
        ...,
        [0, 0, 0, 0, 0, 1],
        [0, 0, 0, 0, 0, 1],
        [0, 0, 0, 0, 0, 1]])

In [21]:
X.todense(), X.shape

(matrix([[0.646467, 0.666435, 0.685047, ..., 0.247298, 0.014025, 0.029709],
         [0.770156, 0.767255, 0.761053, ..., 0.137833, 0.082672, 0.03632 ],
         [0.793984, 0.772096, 0.76182 , ..., 0.051125, 0.112506, 0.083924],
         ...,
         [0.952281, 0.944987, 0.905556, ..., 0.0319  , 0.017547, 0.019734],
         [0.88399 , 0.899004, 0.901019, ..., 0.256158, 0.226332, 0.22307 ],
         [0.974915, 0.866425, 0.818144, ..., 0.005131, 0.025059, 0.004033]]),
 (2407, 294))

In [22]:
y.todense(), y.shape

(matrix([[1, 0, 0, 0, 1, 0],
         [1, 0, 0, 0, 0, 1],
         [1, 0, 0, 0, 0, 0],
         ...,
         [0, 0, 0, 0, 0, 1],
         [0, 0, 0, 0, 0, 1],
         [0, 0, 0, 0, 0, 1]]), (2407, 6))